/* Header.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #202020;
  color: white;
}

.header__left img {
  height: 40px;
}

.header__input {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
}

.header__input input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  outline: none;
}

.header__searchButton {
  background-color: #cc0000;
  border: none;
  padding: 8px 16px;
  margin-left: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
}

.header__searchButton:hover {
  background-color: #e60000;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Adjustments for responsiveness */
@media screen and (max-width: 768px) {
  .header__input {
    max-width: 100%;
  }
  
}
